<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
  "-//hibernate/Hibernate Configuration DTD 5.3//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-5.3.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/irctc</property>
		<property name="connection.username">root</property>
		<property name="connection.password">vikAsh</property>
		<mapping resource="hibernate.hbm.xml" />
	</session-factory>
</hibernate-configuration>